@font-face {
    font-family: "Lato";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: local("Lato"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: local("Lato"), url("../fonts/Lato-Semibold.woff2") format("woff2"), url("../fonts/Lato-Semibold.woff") format("woff");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: local("Lato"), url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a,
a:visited {
    font-family: inherit;
    color: inherit;
    text-decoration: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Lato";
    font-size: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 500;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

input:focus::placeholder {
    color: transparent;
}

.visually-hidden {
    position: absolute;
    width: 1;
    height: 1;
    padding: 0;
    margin: -1;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
}

.button {
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 6px;
    transition: all 0.3s;
}

.button--transparent {
    padding: 11px 28px;
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

.button--transparent:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.button--white {
    padding: 17px 52px;
    font-weight: 600;
    color: #ed4c5c;
    background-color: #fff;
}

.button--white:hover {
    background-color: #d9d9d9;
}

.button--send {
    padding: 17px 34px;
    color: #fff;
    background-color: #ed4c5c;
}

.button--send:hover {
    background-color: #d71629;
}

.header {
    position: absolute;
    width: 100%;
    padding-top: 50px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.menu__item:not(:last-child) {
    margin-right: 20px;
}

.menu__link {
    display: flex;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: all 0.3s;
}

.menu__link:hover {
    border-bottom-color: #fff;
}

.user-nav {
    position: relative;
    display: flex;
}

.user-nav__language {
    display: flex;
    align-items: center;
    margin-right: 29px;
}

.user-nav__flag {
    margin-right: 11px;
}

.user-nav__switch {
    position: relative;
    padding-right: 20px;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    text-transform: uppercase;
    background-color: transparent;
}

.user-nav__switch::before {
    position: absolute;
    top: 50%;
    right: 0;
    width: 13px;
    height: 8px;
    content: "";
    background-image: url(../img/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: translateY(-50%);
}

.user-nav__language-list {
    position: absolute;
    top: 40px;
    left: -10px;
    height: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    border-radius: 8px;
    transition: all 0.3s;
}

.user-nav__language-list--active {
    display: block;
    height: auto;
    padding: 10px;
    overflow: visible;
}

.user-nav__language-item {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 8px;
}

.user-nav__language-item:hover {
    background-color: #d9d9d9;
}

.user-nav__language-item .user-nav__switch {
    color: #000;
}

.user-nav__language-item .user-nav__switch::before {
    display: none;
    padding-right: 0;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 610px;
    color: #fff;
    text-align: center;
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url(../img/hero-bg.jpg) center/cover no-repeat;
}

.hero__title {
    margin-bottom: 39px;
    font-size: 72px;
    font-weight: 700;
    line-height: 86px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.hero__text {
    max-width: 600px;
    margin-bottom: 39px;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}

.promo {
    padding-top: 95px;
    padding-bottom: 95px;
}

.promo__inner {
    display: flex;
    align-items: center;
}

.promo__content {
    flex-basis: 50%;
    padding-right: 40px;
}

.promo__title {
    margin-bottom: 24px;
}

.promo__text {
    max-width: 445px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
}

.promo__link {
    font-size: 14px;
    line-height: 20px;
    color: #ed4c5c;
}

.promo__link:hover {
    text-decoration: underline;
}

.promo__video {
    flex-basis: 50%;
}

.video {
    position: relative;
    width: 445px;
    height: 311px;
    background-color: #000;
    border-radius: 15px;
}

.video__link {
    display: block;
    max-width: 100%;
    height: 100%;
    border-radius: 15px;
}

.video__img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.video__btn {
    position: absolute;
    top: 50%;
    left: -24px;
    width: 66px;
    width: 50px;
    height: 66px;
    height: 50px;
    background-color: #ed4c5c;
    border-radius: 50%;
    transform: translateY(-50%);
}

.video__btn::before {
    position: absolute;
    top: 50%;
    left: 55%;
    width: 18px;
    height: 18px;
    content: "";
    background: url(../img/play-icon.svg) center/contain no-repeat;
    transform: translate(-50%, -50%);
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.features {
    padding-top: 63px;
    padding-bottom: 34px;
    text-align: center;
    background: #fafafa;
}

.features__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 63px;
    margin-right: -15px;
    margin-left: -15px;
}

.features__item {
    max-width: 350px;
    margin-right: 15px;
    margin-left: 15px;
}

.features__img {
    width: 100%;
    height: 250px;
    border-radius: 8px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.features__content {
    position: relative;
    top: -90px;
    width: 85%;
    padding: 30px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}

.features__title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

.features__text {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 18px;
}

.features__link {
    font-size: 12px;
    font-weight: 700;
    line-height: 150%;
    color: #ed4c5c;
}

.features__link:hover {
    text-decoration: underline;
}

.technology {
    padding-top: 63px;
    padding-bottom: 104px;
    text-align: center;
}

.technology__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 52px;
}

.technology__item {
    position: relative;
    max-width: 255px;
    padding: 45px 30px 30px;
}

.technology__number {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    font-size: 100px;
    font-weight: 700;
    color: rgba(16, 16, 16, 0.08);
    transform: translateX(-50%);
}

.technology__icon {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.technology__icon img {
    max-width: 100%;
    height: auto;
}

.technology__title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

.technology__text {
    font-size: 12px;
    line-height: 14px;
}

.app {
    padding-top: 95px;
    padding-bottom: 95px;
    background-color: #ed4c5c;
}

.app__inner {
    display: flex;
    align-items: center;
}

.app__content {
    flex-basis: 50%;
    padding-right: 25px;
}

.app__title {
    max-width: 445px;
    margin-bottom: 30px;
    color: #fff;
}

.app__text {
    max-width: 445px;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-align: justify;
}

.app__list {
    display: flex;
    align-items: center;
}

.app__item:not(:last-child) {
    margin-right: 25px;
}

.app__link {
    width: 32px;
    height: 32px;
}

.app__link img {
    max-width: 100%;
    height: auto;
}

.app__img {
    flex-basis: 50%;
    height: 311px;
}

.app__img img {
    width: 445px;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    border-radius: 15px;
}

.contact {
    padding-top: 120px;
    padding-bottom: 120px;
}

.contact__inner {
    display: flex;
    align-items: flex-start;
}

.contact__content {
    flex-basis: 50%;
    padding-right: 30px;
}

.contact__text {
    max-width: 445px;
    margin-top: 30px;
}

.contact__form {
    flex-basis: 50%;
}

.form__row {
    display: flex;
    margin-bottom: 25px;
}

.form__row input + input {
    margin-left: 30px;
}

.form__input {
    width: 100%;
    padding: 20px 30px;
    color: rgba(19, 39, 67, 0.5);
    border: 1px solid #333;
    border-radius: 6px;
}

.form__input::-moz-placeholder {
    font-size: 16px;
    color: rgba(19, 39, 67, 0.5);
}

.form__input:-ms-input-placeholder {
    font-size: 16px;
    color: rgba(19, 39, 67, 0.5);
}

.form__input::placeholder {
    font-size: 16px;
    color: rgba(19, 39, 67, 0.5);
}

.footer {
    padding-top: 85px;
    padding-bottom: 85px;
    background-color: #fafafa;
}

.footer__content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 86px;
}

.footer__column {
    flex-basis: 25%;
    padding-right: 30px;
}

.footer__title {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
}

.footer__text {
    display: block;
    font-size: 12px;
    line-height: 18px;
}

.footer__menu-link:hover {
    text-decoration: underline;
}

.footer__copyright {
    font-size: 12px;
    line-height: 14px;
}

.select {
    position: relative;
    width: 100%;
}

.select__current {
    position: relative;
    margin-bottom: 5px;
    cursor: pointer;
}

.select__current.active::before {
    transform: rotate(180deg) translateY(50%);
}

.select__current::before {
    position: absolute;
    top: 50%;
    right: 26px;
    width: 14px;
    height: 14px;
    content: "";
    background: url(../img/form-arrow.svg) center/contain no-repeat;
    transform: translateY(-50%);
    transform-origin: 7px 7px;
}

.select__body {
    display: none;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 8px;
}

.select__body.active {
    display: flex;
}

.select__input {
    padding: 20px;
    color: rgba(19, 39, 67, 0.5);
    cursor: pointer;
    border-radius: 8px;
}

input[type=radio]:checked + .select__input {
    background-color: #e2e2e2;
}

.select__input:hover {
    background-color: #f0f0f0;
}

.select input {
    display: none;
}
